<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	stderr="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory prefix="test-" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./inc</directory>
		</include>
	</coverage>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="error_reporting" value="-1" />
	</php>
</phpunit>